table{
	
		border:2px	solid black;
		padding:10px;
	}
	
	td{
	
		background-color:purple;
		color:white;
		padding:15px;
		font-weight:bold;
		font-family:Calibri;
	}
	body{
		
		background:-webkit-linear-gradient(top,purple,ivory);
	}
	
	input,textarea{
	
		width:200px;
		height:33px;
		border:1px solid black;
		padding-left:10px;
		font-weight:bold;
		font-size:17px;
	}
	